$bluish: #030b16;
$transparentBlue: rgb(52, 68, 241) none repeat scroll 0% 0%;
$bluish2: rgb(52, 68, 241);
$activeClr: rgb(48, 43, 78);
$activeBck: rgb(194, 199, 251) none repeat scroll 0% 0%;
$bxShadow: rgba(43, 83, 135, 0.08) 0px 3px 8px 0px;
$whiteBack: rgb(255, 255, 255) none repeat scroll 0% 0%;
$blackish: rgb(67, 65, 78);
$silverType: #f9f9f9;
$bxShadow2: rgba(101, 106, 160, 0.1) 0.521px 2.954px 50px 0px;
$twitterClr: #007aff;
$darkBlue: #1b1e25;
