@mixin flex($d) {
  display: flex;
  flex-direction: $d;
}

@mixin btn {
  margin-top: 60px;
  padding: 17px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 48px;
  min-height: 50px;
  border: 2px solid $blackish;
  background-color: transparent;
  color: white;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
  cursor: pointer;
  &::before {
    cursor: pointer;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    background: $bluish2;
    z-index: -1;
    transition: all 0.2s ease;
  }
  &:hover {
    border-color: transparent;
    &::before {
      top: 0;
      left: 0;
    }
  }
}

@mixin customBtn {
  .left-btn-wrap {
    @include flex(row);
    align-items: center;
    position: relative;
    .left-btn-clone {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      &:hover ~ .left-btn {
        width: 60px;
        background: $bluish2;
        &::after {
          border-color: $bluish2;
        }
      }
    }
    .left-btn {
      width: 20px;
      height: 2px;
      background: silver;
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: none;
        left: 0;
        top: -5px;
        transform: rotate(-45deg);
        border-top: 2px solid silver;
        border-left: 2px solid silver;
        transition: all 0.3s ease;
      }
      &:hover {
        width: 60px;
        background: $bluish2;
        &::after {
          border-color: $bluish2;
        }
      }
    }
  }
  .right-btn-wrap {
    @include flex(row);
    align-items: center;
    position: relative;
    .right-btn-clone {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      &:hover ~ .right-btn {
        width: 60px;
        background: $bluish2;
        &::after {
          border-color: $bluish2;
        }
      }
    }
    .right-btn {
      width: 20px;
      height: 2px;
      background: silver;
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: none;
        right: 0;
        top: -5px;
        transform: rotate(-45deg);
        border-bottom: 2px solid silver;
        border-right: 2px solid silver;
        transition: all 0.3s ease;
      }
      &:hover {
        width: 60px;
        background: $bluish2;
        &::after {
          border-color: $bluish2;
        }
      }
    }
  }
}
