.project {
  padding: 100px 1px 82px 75px;
  .project-txt {
    width: 48%;
    h1 {
      line-height: 80px;
      font-weight: 600;
      font-size: 29px;
      color: $activeClr;
    }
    p {
      font-family: $roboto;
      font-size: 16px;
      color: $blackish;
      line-height: 25px;
      font-weight: 400;
    }
  }
  .project-category {
    padding-top: 75px;
    padding-left: 20px;
    @include flex(row);
    gap: 3.5em;
    text-transform: uppercase;
    h3 {
      font-weight: 600;
      font-size: 17px;
      color: $blackish;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: $bluish2;
      }
    }
  }
  .project-slider {
    padding-top: 80px;
    .project-slider1 {
      width: 97%;
      @include flex(row);
      align-items: center;
      justify-content: center;
      .right {
        font-family: $roboto;
        padding-left: 45px;
        h4 {
          font-weight: 500;
          font-size: 17px;
          word-spacing: 2px;
          color: $bluish2;
          margin-bottom: 35px;
          position: relative;
          cursor: pointer;
          // overflow: hidden;
          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 55px;
            height: 13px;
            background: $activeBck;
            opacity: 0.6;
            bottom: 5%;
            left: -1%;
            z-index: -1;
          }
        }
        h1 {
          font-size: 42px;
          font-family: $raleway;
          font-weight: 500;
          color: $activeClr;
          margin-bottom: 15px;
        }
        p {
          width: 80%;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          color: $blackish;
        }
      }
    }
  }
  .project-footer {
    padding-top: 60px;
    @include flex(row);
    align-items: center;
    justify-content: space-between;
    .project-footer1 {
      @include flex(row);
      gap: 4em;
      h4 {
        color: $blackish;
        font-weight: 500;
        word-spacing: 4px;
        span {
          color: $bluish2;
          font-weight: 600;
        }
      }
      p {
        font-family: $roboto;
        font-weight: 600;
        color: $blackish;
        span {
          font-weight: 500;
          padding-left: 5px;
          font-family: $raleway;
        }
      }
    }
    .project-footer2 {
      height: 18px;
      @include flex(row);
      padding-right: 40px;
      gap: 1.2em;
      .left-btn-wrap {
        @include flex(row);
        align-items: center;
        position: relative;
        .left-btn-clone {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          cursor: pointer;
          &:hover ~ .left-btn {
            width: 60px;
            background: $bluish2;
            &::after {
              border-color: $bluish2;
            }
          }
        }
        .left-btn {
          width: 20px;
          height: 2px;
          background: silver;
          position: relative;
          transition: all 0.3s ease;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border: none;
            left: 0;
            top: -5px;
            transform: rotate(-45deg);
            border-top: 2px solid silver;
            border-left: 2px solid silver;
            transition: all 0.3s ease;
          }
          &:hover {
            width: 60px;
            background: $bluish2;
            &::after {
              border-color: $bluish2;
            }
          }
        }
      }
      .right-btn-wrap {
        @include flex(row);
        align-items: center;
        position: relative;
        .right-btn-clone {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          cursor: pointer;
          &:hover ~ .right-btn {
            width: 60px;
            background: $bluish2;
            &::after {
              border-color: $bluish2;
            }
          }
        }
        .right-btn {
          width: 20px;
          height: 2px;
          background: silver;
          position: relative;
          transition: all 0.3s ease;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border: none;
            right: 0;
            top: -5px;
            transform: rotate(-45deg);
            border-bottom: 2px solid silver;
            border-right: 2px solid silver;
            transition: all 0.3s ease;
          }
          &:hover {
            width: 60px;
            background: $bluish2;
            &::after {
              border-color: $bluish2;
            }
          }
        }
      }
    }
  }
}
