@import "color";
@import "mixin";
@import "fonts";
@import "header";
@import "banner";
@import "project";
@import "awards";
@import "whyMe";
@import "help";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: $raleway;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  background: $whiteBack;
}

html {
  scroll-behavior: smooth;
}
